
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New year's eve</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting
        <p>Please be invited to New Year's Eve party. <br />
            (TODO: improve with pictures etc.)
        </p>
        @Html.ActionLink("Send RSVP", "RsvpForm")
    </div>
</body>
</html>
